{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Coming Soon !!</title>
	
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 

			<h1>Hi, we’re Coming Soon.</h1>
			<h2>We help you find Solutions for your problems.</h2>

			<p>We have an idea and we want to share it with you and take your feedback about what you think about that. Our goal is to solve the basic problems of an internet user and fullfil there needs. We want to know what you thinks of our idea and what improvments can be made.</p>

			<p>Email us.<a mailto:"hello@your.com">hello@your.com</a></p>

			<a href="https://twitter.com/#" target="_blank">
				<img src="{% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/#" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a>
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>